<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	img {
		float:left;
		margin: 10px;
	}
	div {
		clear:left;
	}
	</style>
</head>
<body>
<div class='align'>
<div>
<img onclick='myFunction()' src="http://placehold.it/150x150">
<img src="http://placehold.it/150x150">
<img src="http://placehold.it/150x150">
</div>

<div>
<img src="http://placehold.it/150x150">
<img src="http://placehold.it/150x150">
<img src="http://placehold.it/150x150">
</div>

<div>
<img src="http://placehold.it/150x150">
<img src="http://placehold.it/150x150">
<img src="http://placehold.it/150x150">
</div>
</div>
<input type='text' id='pass'>
</form>
<script>
var password = [''];
document.getElementById('pass').innerHTML = fruits;

function MyFunction() {
	
}

</script>
</body>
</html>